html, body {
  /*font-family: 'Josefin Sans', sans-serif;*/
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.limit-height {
  height: 92%;
}

.overflowY {
  overflow-y: auto;
}

.collection a.collection-item {
  color: #3f51b5; /* Indigo */
}

.active {
  background-color: #3f51b5;
}

.custom-hide {
  font-size: 1.5rem;
  display: none;
}
